<!-- cards -->
<div class="w-full px-6 py-6 mx-auto">
    <div class="flex flex-wrap mt-6 -mx-3">
  
      <!-- الربع -->
      <div class="w-full max-w-full px-3 mb-6 lg:w-5/12">
        <div class="shadow-soft-xl relative z-20 flex flex-col rounded-2xl bg-white">
          <div class="p-4">
            <div class="bg-gradient-to-tl from-gray-900 to-slate-800 rounded-xl h-[300px] p-4">
              <canvas id="chart-bars" class="w-full h-full" style="height: 300px;"></canvas>
            </div>
            <h6 class="mt-6 mb-0 ml-2">Active Users</h6>
            <p class="ml-2 text-sm leading-normal">(<span class="font-bold">+23%</span>) than last week</p>
            <!-- كروت صغيرة -->
            <div class="w-full px-6 mx-auto rounded-xl">
              <div class="flex flex-wrap -mx-3">
                <!-- User -->
                <% quarters.forEach((item)=>{ %>
                    <div class="w-1/4 py-4 pr-3">
                        <div class="flex mb-2">
                          <div class="w-5 h-5 mr-2 rounded bg-gradient-to-tl from-purple-700 to-pink-500"></div>
                          <p class="text-xs font-semibold"><%= item.label %></p>
                        </div>
                        <h4 class="font-bold totalAchieved"><%= item.totalAchieved %></h4>
                      </div>
                <% }) %>
              </div>
            </div>
          </div>
        </div>
      </div>
  
     <!-- الأشهر -->
<div class="w-full max-w-full px-3 lg:w-7/12">
    <div class="shadow-soft-xl relative z-20 flex flex-col rounded-2xl bg-white">
      <div class="p-6 pb-0">
        <h6>Sales overview</h6>
        <p class="text-sm"><i class="fa fa-arrow-up text-lime-500"></i> <span class="font-semibold">4% more</span> in 2021</p>
      </div>
      <div class="p-4">
        <div class="relative w-full h-[400px]">
          <canvas id="chart-line" class="w-full h-full" style="height: 400px;"></canvas>
        </div>
      </div>
    </div>
  </div>
  
    </div>
  
    <!-- المهام -->
    <div class="overflow-x-auto mt-6">
      <table class="w-full table-auto text-sm text-left">
        <thead class="bg-gray-100">
          <tr>
            <th class="px-4 py-2">الربع</th>
            <th class="px-4 py-2">المحقق</th>
            <th class="px-4 py-2">المستهدف</th>
            <th class="px-4 py-2">الأداء (%)</th>
          </tr>
        </thead>
        <tbody>
          <% kpi.forEach((kpi) => { 
            let total = 0
            %>
            <tr class="border-b">
              <td class="px-4 py-2"><%= kpi.quarter.year + " - " +kpi.quarter.quarter %></td>
            <% kpi.months.forEach((month)=>{              
              total = total + month.achieved  }) 
              %>
            <td class="px-4 py-2"><%= total %></td>
            <td class="px-4 py-2"><%= kpi.salesTarget %></td>
            <td class="px-4 py-2"><%= (total/kpi.salesTarget)*100 %>%</td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </div>
  

  <script>
    let totalAchievedDiv = document.querySelectorAll(".totalAchieved");
    totalAchievedDiv.forEach((item)=>{
        item.textContent = formatNumber(item.textContent)
    })
    function formatNumber(num) {
        return num.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    }
  </script>