<div class="md:flex">
    <ul class="flex-column space-y space-y-4 text-sm font-medium text-gray-500 md:me-4 mb-4 md:mb-0">
        <%- include("./admin/sideItem.ejs",{
            href:"?tab=users",
            name:"ðŸ’ users",
            isActive: locals.isActive == "users"
        })%>
        <%- include("./admin/sideItem.ejs",{
            href:"?tab=departments",
            name:"ðŸ¢ Departments",
            isActive: locals.isActive == "departments"
        })%>
        <%- include("./admin/sideItem.ejs",{
            href:"?tab=terms",
            name:"ðŸ“ Terms",
            isActive: locals.isActive == "terms"
        })%>
        <%- include("./admin/sideItem.ejs",{
            href:"?tab=quarters",
            name:"ðŸ“Š Quarters",
            isActive: locals.isActive == "quarters"
        })%>
        <%- include("./admin/sideItem.ejs",{
            href:"?tab=logs",
            name:"ðŸ“‚ Logs",
            isActive: locals.isActive == "logs"
        })%>
    </ul>

    <!-- Ù‡Ù†Ø§ Ù†Ø¹Ø±Ø¶ Ø§Ù„Ù…Ø­ØªÙˆÙ‰ Ø­Ø³Ø¨ Ø§Ù„ØªØ¨ÙˆÙŠØ¨ -->
    <div class="mx-32 bg-gray-50 text-medium text-gray-600 rounded-lg w-full">
        <%
            let name = locals?.isActive;%>
            <%- include(`./admin/${name}/${name}View.ejs`) %>
        
    </div>
    
</div>
