<% 
    let authCheck = (locals?.activePage === "auth");
%>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%- title %> | MRG KPIs</title>
    
    <!-- Icons & Fonts -->
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/img/apple-icon.png" />
    <link rel="icon" type="image/png" href="/assets/img/favicon.png" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link href="/assets/css/nucleo-icons.css" rel="stylesheet" />
    <link href="/assets/css/nucleo-svg.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    
    <!-- Styling & Scripts -->
     
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="/assets/css/soft-ui-dashboard-tailwind.css" rel="stylesheet" />
    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <link rel="stylesheet" href="/assets/css/button.css" rel="stylesheet">
    <script src="/socket.io/socket.io.js"></script>
</head>
<body class="m-0 font-sans text-base antialiased font-normal leading-default bg-gray-50 text-slate-500">
    
    <% if (!authCheck) { %>
        <%- include("../templates/sideBar.ejs") %>
    <% } %>
    
    <% if (!authCheck) { %>
        <main class="ease-soft-in-out xl:ml-68.5 relative h-full max-h-screen rounded-xl transition-all duration-200">
    <% } %>
    
    <% if (!authCheck) { %>
        <%- include("../templates/header.ejs") %>
    <% } %>
    
    <%- body %>
    
    <% if (!authCheck) { %>
        <%- include("../templates/footer.ejs") %>
    <% } %>
    
    <% if (!authCheck) { %>
        </main>
    <% } %>
    
    <!-- Plugins & Scripts -->
    <script src="/assets/js/plugins/chartjs.min.js" async></script>
    <script src="/assets/js/sidenav-burger.js" async></script>
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <script src="/assets/js/soft-ui-dashboard-tailwind.js?v=1.0.5" async></script>
    <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
    <script src="https://unpkg.com/@dotlottie/player-component@2.7.12/dist/dotlottie-player.mjs" type="module"></script>
    <script src="/assets/js/sidebar/sidebar.js" async></script>
</body>
</html>
