<tbody>
    <tr class="border-b border-gray-300">
        <th scope="row" class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap">
            <a href="<%- application.url %>" class="text-blue-600 border-b">
                <%- application.name %>
            </a>
        </th>
        <td class="px-4 py-3"><%- application.countOfApplications %> request</td>
        <td class="px-4 py-3">
            <button id="<%- application._id %>-dropdown-button" data-dropdown-toggle="<%- application._id %>-dropdown"
                class="inline-flex items-center p-0.5 text-sm font-medium text-center text-gray-500 hover:text-gray-800 rounded-lg focus:outline-none"
                type="button">
                <span class="material-symbols-outlined">
                    more_horiz
                    </span>
            </button>
            <div id="<%- application._id %>-dropdown"
                class="hidden z-10 w-44 bg-white rounded divide-y divide-gray-100 shadow">
                <ul class="py-1 text-sm text-gray-700" aria-labelledby="<%- application._id %>-dropdown-button">
                    <li>
                        <a href="/tanqeeb/JobsAds/update/:id" class="block py-2 px-4 hover:bg-gray-100">Update</a>
                    </li>
                    <li>
                        <!-- change it to post please :) -->
                         <form class="flex flex-col w-100 justify-start" action="/tanqeeb/JobsAds/delete/<%= application._id %>?_method=DELETE" method="POST">
                            <button type="submit" class="block py-2 px-4 hover:bg-red-100 text-start">Delete</button>
                         </form>
                    </li>
                </ul>
            </div>
        </td>
    </tr>
</tbody>
