<% 
let userAdmin = data.isAdmin
let blockedUser = data.isBlocked
%> 
<div class="grid grid-cols-5 bg-white text-gray-600 py-3 px-3 border-b hover:bg-slate-400 hover:text-white ">
    <div><%= data.name %></div>
    <div><%= data.email %></div>
    <form action="/Admin/adminUser/<%= data._id %>?_method=PUT" method="post">
      <input type="hidden" name="isAdmin" value="<%= userAdmin %>" >
      <input type="submit" value="<%= userAdmin %>" class="<%= userAdmin ? "bg-red-600":"bg-blue-600" %> text-white px-3 py-2 rounded hover:brightness-50 transition delay-50 duration-300 ease-in-out">
    </form>
    <form action="/Admin/blockedUser/<%= data._id %>?_method=PUT" method="post">
      <input type="hidden"  name="isBlocked" value="<%= blockedUser %>">
      <input type="submit" value="<%= blockedUser %>" class="<%= blockedUser ? "bg-red-600":"bg-blue-600" %> text-white px-3 py-2 rounded hover:brightness-50 transition delay-50 duration-300 ease-in-out">
    </form>
</div>
