<tr class="bg-white border-b border-gray-200 hover:bg-gray-50">
    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
        <a href="<%= candidate.url %>" class="font-medium text-blue-600 dark:text-blue-500 hover:underline"><%= candidate.name %></a>
    </th>
    <td class="px-6 py-2">
        <%= candidate.job_title %>
    </td>
    <td class="px-6 py-2">
        <%= candidate.age %>
    </td>
    <td class="px-6 py-2">
        <%= candidate.experience %>
    </td>
    <td class="px-6 py-2">
        <%= candidate.nationality %>
    </td>
    <td class="px-6 py-2 text-wrap">
        <%= candidate.about %>
    </td>
    <td class="px-6 py-2">
        <%= candidate.phone %>
    </td>
    <td class="px-6 py-2">
        <% if( candidate.cv_link != "غير متوفر") {%>
            <a href="<%= candidate.cv_link %>" class="font-medium bg-blue-600 text-white flex flex-col p-3 rounded-3 text-center hover:underline">Download CV</a>
        <% }else{ %>
            يرجى فتح النموذج من خلال الضغط على الاسم
        <% } %>
    </td>
</tr>